<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="Start your development with Meyawo landing page.">
    <meta name="author" content="Devcrud">
    <title>Shubham Kad Personal Portfolio</title>
    <!-- font icons -->
    <link rel="stylesheet" href="static/vendors/themify-icons/css/themify-icons.css">
    <!-- Bootstrap + Meyawo main styles -->
	<link rel="stylesheet" href="static/css/meyawo.css">
</head>
<body data-spy="scroll" data-target=".navbar" data-offset="40" id="home">

    <!-- Page Navbar -->
    <nav class="custom-navbar" data-spy="affix" data-offset-top="20">
        <div class="container">
            <a class="logo" href="#">Shubham Kad</a>         
            <ul class="nav">
                <li class="item">
                    <a class="link" href="#home">Home</a>
                </li>
                <li class="item">
                    <a class="link" href="#about">About Me</a>
                </li>
                <li class="item">
                    <a class="link" href="#portfolio">Projects</a>
                </li>
                <li class="item">
                    <a class="link" href="#blog">Certificates</a>
                </li>
                <li class="item">
                    <a class="link" href="/#testmonial">Feedback/Comments</a>
                </li>
                <li class="item">
                    <a class="link" href="#contact">Contact</a>
                </li>
                {% comment %} <li class="item ml-md-3">
                    <a href="components.html" class="btn btn-primary">Components</a>
                </li> {% endcomment %}
            </ul>
            <a href="javascript:void(0)" id="nav-toggle" class="hamburger hamburger--elastic">
                <div class="hamburger-box">
                  <div class="hamburger-inner"></div>
                </div>
            </a>
        </div>          
    </nav><!-- End of Page Navbar -->

    <!-- page header -->
    <header id="home" class="header">
        <div class="overlay"></div>
        <div class="header-content container">
            <h1 class="header-title">
                <span class="up">HI!</span>
                <span class="down">I am Shubham Kad</span>
            </h1>
            <p class="header-subtitle">Machine Learning Engg | SQL Developer </p>            

            <a class="btn btn-primary" role="button" href="#portfolio" >Visit My Works/Projects</a>
        </div>              
    </header><!-- end of page header -->

    <!-- about section -->
    <section class="section pt-0" id="about">
        <!-- container -->
        <div class="container text-center">
            <!-- about wrapper -->
            <div class="about">
                <div class="about-img-holder">
                    <img src="static/imgs/man2.png" class="about-img" alt="Download free bootstrap 4 landing page, free boootstrap 4 templates, Download free bootstrap 4.1 landing page, free boootstrap 4.1.1 templates, meyawo Landing page">
                </div>
                <div class="about-caption">
                    <p class="section-subtitle">Who Am I ?</p>
                    <h2 class="section-title mb-3">About Me</h2>
                    <p>
                        A highly skilled, competent, and diligent individual is seeking an opportunity to establish a career as a Data Analyst. Certified with Diploma in Machine Learning from Symbiosis University. Strong willingness to exhibit my proficiency in Analytical tools, Statistics and Computing Methodologies in the professional environment. 
                        <br>I also have Knowledge of SQL (Sturctured Query Language) And Pyhton Programming Language.
                        <br><b>Intership-</b>
                        <br>
                        Indeed Inspiring infotech (2022):
                        Certified Approved
                        Internship Certificate.
                        Indeed Inspiring infotech pvt.limited,
                        Data Science intern & worked on Machine learning .
                        to used machine learning algorithm on large data set (like, Linear Regression, Decision Tree, Logistic
                        Regression ,K-means algorithm etc.)
                    </p>
                    <button class="btn-rounded btn btn-outline-primary mt-4" href="static\Resume\shubham kad M.I CV-1.pdf">Download CV</button>
                </div>              
            </div><!-- end of about wrapper -->
        </div><!-- end of container -->
    </section> <!-- end of about section -->

    <!-- service section -->
    <section class="section" id="service">
        <div class="container text-center">
            <p class="section-subtitle">What I Do ?</p>
            <h6 class="section-title mb-6">Service</h6>
            <!-- row -->
            <div class="row">
                <div class="col-md-6 col-lg-3">
                    <div class="service-card">
                        <div class="body">
                            <img src="static/imgs/pencil-case2.svg" alt="Download free bootstrap 4 landing page, free boootstrap 4 templates, Download free bootstrap 4.1 landing page, free boootstrap 4.1.1 templates, meyawo Landing page" class="icon">
                            <h6 class="title">Machine Learning</h6>
                            <p class="subtitle">Build models for Predictions,Solve Complex Problem, etc..
                                <!-- <br>These models have a huge range of uses, whether machine learning in finance proactively monitoring bank transfers for signs of fraud, or machine learning in healthcare powering the next generation of diagnostic tools.</p> -->
                        </div>
                    </div>
                </div>
                <div class="col-md-6 col-lg-3">
                    <div class="service-card">
                        <div class="body">
                            <img src="static/imgs/responsive2.svg" alt="Download free bootstrap 4 landing page, free boootstrap 4 templates, Download free bootstrap 4.1 landing page, free boootstrap 4.1.1 templates, meyawo Landing page" class="icon">
                            <h6 class="title">SQL Database</h6>
                            <p class="subtitle">Development of high quality database solutions,Handaling data Using SQL Language</p>
                        </div>
                    </div>
                </div>
                <!-- <div class="col-md-6 col-lg-3">
                    <div class="service-card">
                        <div class="body">
                            <img src="static/imgs/toolbox.svg" alt="Download free bootstrap 4 landing page, free boootstrap 4 templates, Download free bootstrap 4.1 landing page, free boootstrap 4.1.1 templates, meyawo Landing page" class="icon">
                            <h6 class="title">Placeat</h6>
                            <p class="subtitle">Labore velit culpa adipisci excepturi consequuntur itaque in nam molestias dolorem iste quod.</p>
                        </div>
                    </div>
                </div> -->
                <!-- <div class="col-md-6 col-lg-3">
                    <div class="service-card">
                        <div class="body">
                            <img src="static/imgs/analytics.svg" alt="Download free bootstrap 4 landing page, free boootstrap 4 templates, Download free bootstrap 4.1 landing page, free boootstrap 4.1.1 templates, meyawo Landing page" class="icon">
                            <h6 class="title">Iusto</h6>
                            <p class="subtitle">Labore velit culpa adipisci excepturi consequuntur itaque in nam molestias dolorem iste quod.</p>
                        </div>
                    </div>
                </div> -->
            </div><!-- end of row -->
        </div>
    </section><!-- end of service section -->

    <!-- portfolio section -->
    <section class="section" id="portfolio">
        <div class="container text-center">
            <p class="section-subtitle">What I Did ?</p>
            <h6 class="section-title mb-6">Projects</h6>
            <!-- row -->
            <div class="row">
                {% for prjt in prjt %}
                <div class="col-md-4">
                    <a href="#" class="portfolio-card">
                        <img src="{{prjt.P_image}}" class="portfolio-card-img" alt="Download free bootstrap 4 landing page, free boootstrap 4 templates, Download free bootstrap 4.1 landing page, free boootstrap 4.1.1 templates, meyawo Landing page">    
                        <span class="portfolio-card-overlay">
                            <span class="portfolio-card-caption">
                                <h4>{{prjt.P_name }}</h5>
                                <p class="font-weight-normal">{{prjt.P_descriptions}}</p>
                            </span>                         
                        </span>                    
                    </a>
                </div>
                {% endfor %}
            </div><!-- end of row -->
        </div><!-- end of container -->
    </section> <!-- end of portfolio section -->

    <!-- pricing section -->

    <!-- section -->
    <section class="section-sm bg-primary">
        <!-- container -->
        <div class="container text-center text-sm-left">
            <!-- row -->
            <div class="row align-items-center">
                <div class="col-sm offset-md-1 mb-4 mb-md-0">
                    <h6 class="title text-light">Want to work with me?</h6>
                    <p class="m-0 text-light">Always feel Free to Contact & Hire me</p>
                </div>
                <div class="col-sm offset-sm-2 offset-md-3">
                    <a class="btn btn-lg my-font btn-light rounded" href="#contact">Hire Me</a>
                </div>
            </div> <!-- end of row -->
        </div> <!-- end of container -->
    </section> <!-- end of section -->

    <!-- FEEDBACK section -->
    <section class="section" id="testmonial">
        <div class="container text-center">
            <p class="section-subtitle">What Think Client About Me ?</p>
            <h6 class="section-title mb-6">FEEDBACKS</h6>

            <!-- row -->
            <div class="row">
                {% for fb in fb %}
                <div class="col-lg-8">
                    <div class="testimonial-card">
                        {% comment %} <div class="testimonial-card-img-holder">
                            <img src="static/imgs/avatar2.jpg" class="testimonial-card-img" alt="Download free bootstrap 4 landing page, free boootstrap 4 templates, Download free bootstrap 4.1 landing page, free boootstrap 4.1.1 templates, meyawo Landing page">                           
                        </div> {% endcomment %}
                        
                        <div class="testimonial-card-body">
                            <p class="testimonial-card-subtitle">"{{fb.F_text}}"</p>
                            <h6 class="testimonial-card-title">--{{fb.F_name}}</h6>
                        </div>
                        
                    </div>
                </div>
                {% endfor %}   
                </div>
        </div> <!-- end of container -->
    </section> <!-- end of FEEDBACK section -->
    
    <!-- blog section -->
    <section class="section" id="blog">
        <!-- container -->
        <div class="container text-center">
            <p class="section-subtitle">WelCome To My Certification World</p>
            <h6 class="section-title mb-6">My Certificates</h6>
            <!-- blog-wrapper -->
            {% for cert in cert %}
            <div class="blog-card">
                <div class="blog-card-header">
                    <img src="{{cert.C_image}}" class="blog-card-img" alt="Download free bootstrap 4 landing page, free boootstrap 4 templates, Download free bootstrap 4.1 landing page, free boootstrap 4.1.1 templates, meyawo Landing page">
                </div>
                <div class="blog-card-body">
                    <h5 class="blog-card-title">{{cert.C_name}}</h6>

                    <!-- <p class="blog-card-caption">
                        <a href="#">By: Admin</a>
                        <a href="#"><i class="ti-heart text-danger"></i> 234</a>
                        <a href="#"><i class="ti-comment"></i> 123</a>
                    </p> -->
                    <p>{{cert.C_description}}</p>

                    <!-- <p><b>Necessitatibus nihil impedit! Ex nisi eveniet, dolor aliquid consequuntur repudiandae.</b></p>
                    <p>Magnam in repellat enim harum omnis aperiam! Explicabo illo, commodi, dolor blanditiis cupiditate harum nisi vero accusamus laudantium voluptatibus dolores quae obcaecati.</p> -->

                    <!-- <a href="#" class="blog-card-link">Read more <i class="ti-angle-double-right"></i></a> -->
                    
                </div>
               
            </div><!-- end of blog wrapper -->
            {% endfor %}
        </div><!-- end of container -->
    </section><!-- end of blog section -->

    <!-- contact section -->
    <section class="section" id="contact">
        <div class="container text-center">
            <p class="section-subtitle">How can you communicate?</p>
            <h6 class="section-title mb-5">Contact Me</h6>
            <!-- contact form -->
            {% if messages %}
                    {% for message in messages %}
                    <div class="alert alert-success alert-dismissible">
                    <strong>Success!</strong>{{message}}
                    <button type="button" class="close" data-bs-dismiss="alert">&times;</button>
                    </div>
                    {% endfor %}
                    {% endif %} 
            <form   action="/fb#contact" method="post" class="col-md-10 col-lg-8 m-auto">
                {% csrf_token %}
                <div class="form-row">
                    <div class="form-group col-sm-6">
                        <input type="text" size="50" class="form-control" placeholder="Your Name" name="name" required>                 
                    </div>
                    <div class="form-group col-sm-6">
                        <input type="email" class="form-control" placeholder="Enter Email" name="email" requried>                 
                    </div>
                    <div class="form-group col-sm-6">
                        <input type="number" size="50" class="form-control" placeholder="Enter mobile number" name="phone" required>                 
                    </div>
                    <div class="form-group col-sm-12">
                        <textarea name="feedback_text" rows="6"   class="form-control" placeholder="Write Something"></textarea>
                    </div>
                    <div class="form-group col-sm-12 mt-3">
                        <button type="submit"class="btn btn-outline-primary rounded">Send Messege</button>      
                    </div>

                </div>  
            </form><!-- end of contact form -->
        </div><!-- end of container -->
    </section><!-- end of contact section -->

    <!-- footer -->
    <div class="container">
        <footer class="footer">       
            <p class="mb-0">Copyright <script>document.write(new Date().getFullYear())</script> &copy; <a href="http://amoldjango.pythonanywhere.com">Developed By A.L Universe</a></p>
            <div class="social-links text-right m-auto ml-sm-auto">
                <a href="https://www.facebook.com/amol.londhe.77736" class="link"><i class="ti-facebook"></i></a>
                <!-- <a href="javascript:void(0)" class="link"><i class="ti-twitter-alt"></i></a> -->
                <!-- <a href="javascript:void(0)" class="link"><i class="ti-google"></i></a> -->
                <!-- <a href="javascript:void(0)" class="link"><i class="ti-pinterest-alt"></i></a> -->
                <a href="https://www.instagram.com/amol_londhe_official/" class="link"><i class="ti-instagram"></i></a>
            </div>
        </footer>
    </div> <!-- end of page footer -->
	
	<!-- core  -->
    <script src="static/vendors/jquery/jquery-3.4.1.js"></script>
    <script src="static/vendors/bootstrap/bootstrap.bundle.js"></script>

    <!-- bootstrap 3 affix -->
	<script src="static/vendors/bootstrap/bootstrap.affix.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js" integrity="sha384-oBqDVmMz9ATKxIep9tiCxS/Z9fNfEXiDAYTujMAeBAsjFuCZSmKbSSUnQlmh/jp3" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.min.js" integrity="sha384-mQ93GR66B00ZXjt0YO5KlohRA5SY2XofN4zfuZxLkoj1gXtW8ANNCe9d5Y3eG5eD" crossorigin="anonymous"></script>


    <!-- Meyawo js -->
    <script src="static/js/meyawo.js"></script>

</body>
</html>
